@model UserApplication.Models.UserSocialURLs

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_DashboardNavbar.cshtml";
}

<h1>Details</h1>

<div>
    <h4>UserSocialURLs</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocialMediaPlatformName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocialMediaPlatformName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocialMediaPlatformURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocialMediaPlatformURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UserSocialURLsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
